@model WebApplication14.Domain.Concrete.ViewCurrentDisciples
   
    @foreach (var p in Model.sp)
    {
            <div  id ="Spisok" class="col-md-4">
                <label>@p<input type="checkbox"class="checking" value="@p"/></label>
            </div>
    }

