@model System.Data.Entity.Infrastructure.DbQuery<System.Int32>
@{
    ViewBag.Title = "Search";
    Layout = "_Layout.cshtml";
}
<!DOCTYPE html>
<h2>Search</h2>
<html>
<body>
    @foreach (var a in Model)
    {
        <div class="col-md-4" id="myresult">
            <label>@a</label>
        </div>
    }
</body>
</html>



