@model WebApplication14.Domain.Concrete.ViewCurrentDisciples
@{
    ViewBag.Title = "Test";
}
<html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/ajax")
<body>
    <div id="Results_Section"></div>
    <div class="col-md-6 .col-md-offset-3">
        <button class="btn btn-primary" onclick="PostData()">Відіслати</button>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '/Test/FirstSpisok',
                async: true,
                dataType: "html",
                success: function (data) {
                    $('#Results_Section').append(data);
                }
            });

            
                $('#Spisok').show();
            
        });
        function PostData() {
            var params = new Array();
            var napr = new Array();
            var testdata = {
                'Params': params,
                'Check': napr
            }
            $('input[class = "checking"]').each(function () {
                params.push($(this).val());
                if ($(this).is(":checked"))
                {
                    napr.push(true);
                }
                else
                {
                    napr.push(false);
                }
            })
            $.ajax({
                type: "POST",
                url: '/Test/FirstSpisok',
                data: JSON.stringify(testdata),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: successFunc,
                async: true
            }
                );
            $.ajax({
                type: "POST",
                url: '/Default/Index',
                data: "json",
                success: IsActive
            });
            function IsActive(data)
            {
                if(data == true)
                {
                    $('#ButtonSection').show();
                }
            }
            function successFunc(data) {
                $('div[class = "col-md-4"]').slideUp(500);
                $('div[class = "col-md-4"]').empty();
                $("#Results_Section").append(data);
                if ($('div[class = "col-md-4"]').is(":hidden")) {
                    $('div[class = "col-md-4"]').slideDown(2000);
                }
                
        }
        }
        function errorFunc(errorData) {
            console.log(errorData);
        }
    </script>
</body>
</html>